<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class=" glyphicon glyphicon-chevron-down"></span>@*bootstrap class to add icon, type dropdow arrow*@
    </a>
    <ul class="dropdown-menu" role="menu">
        @*UL to add items of the list of items in the menu*@
        @*Place menu items*@
    </ul>


</li>
